In [1]:
import pandas as pd

In [23]:
df = pd.read_csv('MLB Batting.csv')

In [22]:
description = df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28129 entries, 0 to 28164
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  28129 non-null  object
 1   yearID    28129 non-null  int64
 2   stint     28129 non-null  int64
 3   teamID    28129 non-null  object
 4   lgID      28129 non-null  object
 5   G         28129 non-null  int64
 6   AB        28129 non-null  float64
 7   R         28129 non-null  float64
 8   H         28129 non-null  float64
 9   2B        28129 non-null  float64
 10  3B        28129 non-null  float64
 11  HR        28129 non-null  float64
 12  RBI       28129 non-null  float64
 13  SB        28129 non-null  float64
 14  CS        28129 non-null  float64
 15  BB        28129 non-null  float64
 16  SO        28129 non-null  float64
dtypes: float64(11), int64(3), object(3)
memory usage: 3.9+ MB

In [4]:
duplicates = df[df.duplicated()]

In [5]:
df_no_duplicates = df.drop_duplicates()

In [6]:
non_null_records = df.dropna()

In [7]:
df_duplicate = df.copy()

In [9]:
df_duplicate.fillna(0,inplace=True)

In [10]:
df.dropna(inplace=True)

In [11]:
stats_original = df.describe()
stats_no_duplicates = df_no_duplicates.describe()
stats_duplicate = df_duplicate.describe()

In [12]:
print("Description of the DataFrame:")
print(description)

Description of the DataFrame:
None

In [14]:
print("\nDuplicate Records:")
print(duplicates)

Duplicate Records:
     playerID  yearID  stint teamID lgID   G    AB    R     H   2B   3B   HR  \
16  allendu01    2000      1    SDN   NL   9  12.0  0.0   0.0  0.0  0.0  0.0
37  ankieri01    2000      1    SLN   NL  35  68.0  8.0  17.0  1.0  1.0  2.0

    RBI   SB   CS   BB    SO
16  0.0  0.0  0.0  2.0   5.0
37  9.0  0.0  NaN  4.0  20.0

In [13]:
print("\nDataFrame without Duplicates:")
print(df_no_duplicates)

DataFrame without Duplicates:
        playerID  yearID  stint teamID lgID    G     AB      R      H    2B  \
0      abbotje01    2000      1    CHA   AL   80  215.0   31.0   59.0  15.0
1      abbotku01    2000      1    NYN   NL   79  157.0   22.0   34.0   7.0
2      abbotpa01    2000      1    SEA   AL   35    5.0    1.0    2.0   1.0
3      abreubo01    2000      1    PHI   NL  154  576.0  103.0  182.0  42.0
4      aceveju01    2000      1    MIL   NL   62    1.0    1.0    0.0   0.0
...          ...     ...    ...    ...  ...  ...    ...    ...    ...   ...
28160  zimmejo02    2019      1    DET   AL   23    2.0    0.0    0.0   0.0
28161  zimmeky01    2019      1    KCA   AL   15    0.0    0.0    0.0   0.0
28162  zimmery01    2019      1    WAS   NL   52  171.0   20.0   44.0   9.0
28163  zobribe01    2019      1    CHN   NL   47  150.0   24.0   39.0   5.0
28164  zuninmi01    2019      1    TBA   AL   90  266.0   30.0   44.0  10.0

         3B    HR   RBI    SB   CS     BB     SO
0       1.0   3.0  29.0   2.0  1.0   21.0   38.0
1       1.0   6.0  12.0   1.0  1.0   14.0   51.0
2       0.0   0.0   0.0   0.0  0.0    0.0    1.0
3      10.0  25.0  79.0  28.0  8.0  100.0  116.0
4       0.0   0.0   0.0   0.0  0.0    1.0    1.0
...     ...   ...   ...   ...  ...    ...    ...
28160   0.0   0.0   0.0   0.0  0.0    0.0    2.0
28161   0.0   0.0   0.0   0.0  0.0    0.0    0.0
28162   0.0   6.0  27.0   0.0  0.0   17.0   39.0
28163   0.0   1.0  17.0   0.0  0.0   23.0   24.0
28164   1.0   9.0  32.0   0.0  0.0   20.0   98.0

[28163 rows x 17 columns]

In [15]:
print("\nNon-null Records:")
print(non_null_records)

Non-null Records:
        playerID  yearID  stint teamID lgID    G     AB      R      H    2B  \
0      abbotje01    2000      1    CHA   AL   80  215.0   31.0   59.0  15.0
1      abbotku01    2000      1    NYN   NL   79  157.0   22.0   34.0   7.0
2      abbotpa01    2000      1    SEA   AL   35    5.0    1.0    2.0   1.0
3      abreubo01    2000      1    PHI   NL  154  576.0  103.0  182.0  42.0
4      aceveju01    2000      1    MIL   NL   62    1.0    1.0    0.0   0.0
...          ...     ...    ...    ...  ...  ...    ...    ...    ...   ...
28160  zimmejo02    2019      1    DET   AL   23    2.0    0.0    0.0   0.0
28161  zimmeky01    2019      1    KCA   AL   15    0.0    0.0    0.0   0.0
28162  zimmery01    2019      1    WAS   NL   52  171.0   20.0   44.0   9.0
28163  zobribe01    2019      1    CHN   NL   47  150.0   24.0   39.0   5.0
28164  zuninmi01    2019      1    TBA   AL   90  266.0   30.0   44.0  10.0

         3B    HR   RBI    SB   CS     BB     SO
0       1.0   3.0  29.0   2.0  1.0   21.0   38.0
1       1.0   6.0  12.0   1.0  1.0   14.0   51.0
2       0.0   0.0   0.0   0.0  0.0    0.0    1.0
3      10.0  25.0  79.0  28.0  8.0  100.0  116.0
4       0.0   0.0   0.0   0.0  0.0    1.0    1.0
...     ...   ...   ...   ...  ...    ...    ...
28160   0.0   0.0   0.0   0.0  0.0    0.0    2.0
28161   0.0   0.0   0.0   0.0  0.0    0.0    0.0
28162   0.0   6.0  27.0   0.0  0.0   17.0   39.0
28163   0.0   1.0  17.0   0.0  0.0   23.0   24.0
28164   1.0   9.0  32.0   0.0  0.0   20.0   98.0

[28129 rows x 17 columns]

In [16]:
print("\nDuplicate DataFrame with Null Values Replace by Zero:")
print(df_duplicate)

Duplicate DataFrame with Null Values Replace by Zero:
        playerID  yearID  stint teamID lgID    G     AB      R      H    2B  \
0      abbotje01    2000      1    CHA   AL   80  215.0   31.0   59.0  15.0
1      abbotku01    2000      1    NYN   NL   79  157.0   22.0   34.0   7.0
2      abbotpa01    2000      1    SEA   AL   35    5.0    1.0    2.0   1.0
3      abreubo01    2000      1    PHI   NL  154  576.0  103.0  182.0  42.0
4      aceveju01    2000      1    MIL   NL   62    1.0    1.0    0.0   0.0
...          ...     ...    ...    ...  ...  ...    ...    ...    ...   ...
28160  zimmejo02    2019      1    DET   AL   23    2.0    0.0    0.0   0.0
28161  zimmeky01    2019      1    KCA   AL   15    0.0    0.0    0.0   0.0
28162  zimmery01    2019      1    WAS   NL   52  171.0   20.0   44.0   9.0
28163  zobribe01    2019      1    CHN   NL   47  150.0   24.0   39.0   5.0
28164  zuninmi01    2019      1    TBA   AL   90  266.0   30.0   44.0  10.0

         3B    HR   RBI    SB   CS     BB     SO
0       1.0   3.0  29.0   2.0  1.0   21.0   38.0
1       1.0   6.0  12.0   1.0  1.0   14.0   51.0
2       0.0   0.0   0.0   0.0  0.0    0.0    1.0
3      10.0  25.0  79.0  28.0  8.0  100.0  116.0
4       0.0   0.0   0.0   0.0  0.0    1.0    1.0
...     ...   ...   ...   ...  ...    ...    ...
28160   0.0   0.0   0.0   0.0  0.0    0.0    2.0
28161   0.0   0.0   0.0   0.0  0.0    0.0    0.0
28162   0.0   6.0  27.0   0.0  0.0   17.0   39.0
28163   0.0   1.0  17.0   0.0  0.0   23.0   24.0
28164   1.0   9.0  32.0   0.0  0.0   20.0   98.0

[28165 rows x 17 columns]

In [17]:
print("\nOriginal DataFrame after dropping Null Records:")
print(df)

Original DataFrame after dropping Null Records:
        playerID  yearID  stint teamID lgID    G     AB      R      H    2B  \
0      abbotje01    2000      1    CHA   AL   80  215.0   31.0   59.0  15.0
1      abbotku01    2000      1    NYN   NL   79  157.0   22.0   34.0   7.0
2      abbotpa01    2000      1    SEA   AL   35    5.0    1.0    2.0   1.0
3      abreubo01    2000      1    PHI   NL  154  576.0  103.0  182.0  42.0
4      aceveju01    2000      1    MIL   NL   62    1.0    1.0    0.0   0.0
...          ...     ...    ...    ...  ...  ...    ...    ...    ...   ...
28160  zimmejo02    2019      1    DET   AL   23    2.0    0.0    0.0   0.0
28161  zimmeky01    2019      1    KCA   AL   15    0.0    0.0    0.0   0.0
28162  zimmery01    2019      1    WAS   NL   52  171.0   20.0   44.0   9.0
28163  zobribe01    2019      1    CHN   NL   47  150.0   24.0   39.0   5.0
28164  zuninmi01    2019      1    TBA   AL   90  266.0   30.0   44.0  10.0

         3B    HR   RBI    SB   CS     BB     SO
0       1.0   3.0  29.0   2.0  1.0   21.0   38.0
1       1.0   6.0  12.0   1.0  1.0   14.0   51.0
2       0.0   0.0   0.0   0.0  0.0    0.0    1.0
3      10.0  25.0  79.0  28.0  8.0  100.0  116.0
4       0.0   0.0   0.0   0.0  0.0    1.0    1.0
...     ...   ...   ...   ...  ...    ...    ...
28160   0.0   0.0   0.0   0.0  0.0    0.0    2.0
28161   0.0   0.0   0.0   0.0  0.0    0.0    0.0
28162   0.0   6.0  27.0   0.0  0.0   17.0   39.0
28163   0.0   1.0  17.0   0.0  0.0   23.0   24.0
28164   1.0   9.0  32.0   0.0  0.0   20.0   98.0

[28129 rows x 17 columns]

In [18]:
print("\nDecriptive Statistics for Original DataFrame:")
print(stats_original)

Decriptive Statistics for Original DataFrame:
             yearID         stint             G            AB             R  \
count  28129.000000  28129.000000  28129.000000  28129.000000  28129.000000
mean    2009.760781      1.089836     49.410395    118.130293     15.795620
std        5.802535      0.303327     45.540898    179.404707     26.666586
min     2000.000000      1.000000      1.000000      0.000000      0.000000
25%     2005.000000      1.000000     13.000000      0.000000      0.000000
50%     2010.000000      1.000000     33.000000     16.000000      1.000000
75%     2015.000000      1.000000     72.000000    173.000000     21.000000
max     2019.000000      5.000000    163.000000    716.000000    152.000000

                  H            2B            3B            HR           RBI  \
count  28129.000000  28129.000000  28129.000000  28129.000000  28129.000000
mean      30.663550      6.123929      0.632621      3.699385     15.045647
std       49.840845     10.374792      1.538604      7.587431     26.216107
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        2.000000      0.000000      0.000000      0.000000      1.000000
75%       42.000000      8.000000      0.000000      3.000000     19.000000
max      262.000000     59.000000     23.000000     73.000000    160.000000

                 SB            CS            BB            SO
count  28129.000000  28129.000000  28129.000000  28129.000000
mean       1.962530      0.780333     11.131821     24.828860
std        5.575334      1.898480     19.851899     36.993795
min        0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      1.000000      5.000000
75%        1.000000      1.000000     14.000000     36.000000
max       78.000000     24.000000    232.000000    223.000000

In [19]:
print("\nDescriptive Statistics for DataFrame without Duplicates:")
print(stats_no_duplicates)

Descriptive Statistics for DataFrame without Duplicates:
             yearID         stint             G            AB             R  \
count  28163.000000  28163.000000  28163.000000  28161.000000  28159.000000
mean    2009.748997      1.090154     49.376948    118.032385     15.781846
std        5.808928      0.303970     45.527897    179.335166     26.656305
min     2000.000000      1.000000      1.000000      0.000000      0.000000
25%     2005.000000      1.000000     13.000000      0.000000      0.000000
50%     2010.000000      1.000000     33.000000     16.000000      1.000000
75%     2015.000000      1.000000     72.000000    173.000000     21.000000
max     2019.000000      5.000000    163.000000    716.000000    152.000000

                  H            2B            3B            HR           RBI  \
count  28158.000000  28160.000000  28147.000000  28154.000000  28157.000000
mean      30.639214      6.118572      0.632288      3.696775     15.034485
std       49.822771     10.370646      1.538189      7.584802     26.206280
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        2.000000      0.000000      0.000000      0.000000      1.000000
75%       42.000000      8.000000      0.000000      3.000000     19.000000
max      262.000000     59.000000     23.000000     73.000000    160.000000

                 SB            CS            BB            SO
count  28154.000000  28141.000000  28157.000000  28156.000000
mean       1.960823      0.780036     11.124268     24.814569
std        5.573155      1.898138     19.844720     36.980901
min        0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      1.000000      5.000000
75%        1.000000      1.000000     14.000000     36.000000
max       78.000000     24.000000    232.000000    223.000000

In [20]:
print("\nDescriptive Statistics for Duplicate DataFrame with Null Values Replaced by Zero:")
print(stats_duplicate)

Descriptive Statistics for Duplicate DataFrame with Null Values Replaced by Zero:
             yearID         stint             G            AB             R  \
count  28165.000000  28165.000000  28165.000000  28165.000000  28165.000000
mean    2009.748305      1.090147     49.375004    118.018463     15.778768
std        5.809303      0.303960     45.526996    179.326549     26.654335
min     2000.000000      1.000000      1.000000      0.000000      0.000000
25%     2005.000000      1.000000     13.000000      0.000000      0.000000
50%     2010.000000      1.000000     33.000000     16.000000      1.000000
75%     2015.000000      1.000000     72.000000    173.000000     21.000000
max     2019.000000      5.000000    163.000000    716.000000    152.000000

                  H            2B            3B            HR           RBI  \
count  28165.000000  28165.000000  28165.000000  28165.000000  28165.000000
mean      30.632203      6.117522      0.631919      3.695402     15.030534
std       49.818652     10.370027      1.537778      7.583648     26.203654
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        2.000000      0.000000      0.000000      0.000000      1.000000
75%       42.000000      8.000000      0.000000      3.000000     19.000000
max      262.000000     59.000000     23.000000     73.000000    160.000000

                 SB            CS            BB            SO
count  28165.000000  28165.000000  28165.000000  28165.000000
mean       1.960057      0.779372     11.121321     24.807527
std        5.572201      1.897466     19.842685     36.977260
min        0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      1.000000      5.000000
75%        1.000000      1.000000     14.000000     36.000000
max       78.000000     24.000000    232.000000    223.000000