In [1]:
import pandas as pd

In [3]:
iris_df = pd.read_csv("iris_dirty.csv")

In [4]:
iris_df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          NaN  Setosa
1           4.9          3.0           1.4          NaN  Setosa
2           4.7          3.2           1.3          NaN  Setosa
3           4.6          3.1           1.5          NaN  Setosa
4           5.0          3.6           1.4          NaN  Setosa

In [5]:
iris = iris_df.drop('petal.width', axis = 1)
print(iris)

     sepal.length  sepal.width  petal.length    variety
0             5.1          3.5           1.4     Setosa
1             4.9          3.0           1.4     Setosa
2             4.7          3.2           1.3     Setosa
3             4.6          3.1           1.5     Setosa
4             5.0          3.6           1.4     Setosa
..            ...          ...           ...        ...
148           6.2          3.4           5.4  Virginica
149           5.9          3.0           5.1  Virginica
150           5.9          3.0           5.1  Virginica
151           5.9          3.0           5.1  Virginica
152           5.9          3.0           5.1  Virginica

[153 rows x 4 columns]

In [6]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  153 non-null    float64
 1   sepal.width   153 non-null    float64
 2   petal.length  153 non-null    float64
 3   petal.width   148 non-null    float64
 4   variety       153 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.1+ KB

In [7]:
# replace any blank values with the average petal with for setosa varieties
# using loc function (a part of pandas) able to idenitfy specific values in data set
# finds the mean of the values that have a variety of setosa
a = iris_df.loc[iris_df["variety"] == "Setosa", 'petal.width'].mean()
iris_nn = iris_df
# fillna function allows you to fill null values with the value you specified
# inplace = True saves it back to memory
iris_nn["petal.width"].fillna(a, inplace = True)

In [8]:
print(iris_nn)
print(iris_nn.info())

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4     0.251111     Setosa
1             4.9          3.0           1.4     0.251111     Setosa
2             4.7          3.2           1.3     0.251111     Setosa
3             4.6          3.1           1.5     0.251111     Setosa
4             5.0          3.6           1.4     0.251111     Setosa
..            ...          ...           ...          ...        ...
148           6.2          3.4           5.4     2.300000  Virginica
149           5.9          3.0           5.1     1.800000  Virginica
150           5.9          3.0           5.1     1.800000  Virginica
151           5.9          3.0           5.1     1.800000  Virginica
152           5.9          3.0           5.1     1.800000  Virginica

[153 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  153 non-null    float64
 1   sepal.width   153 non-null    float64
 2   petal.length  153 non-null    float64
 3   petal.width   153 non-null    float64
 4   variety       153 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.1+ KB
None

In [9]:
iris_nn.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
148    False
149    False
150     True
151     True
152     True
Length: 153, dtype: bool

In [10]:
# duplicated numbers are no longer apart of the dataset
iris_nn.drop_duplicates(inplace = True)

In [11]:
print(iris_nn)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4     0.251111     Setosa
1             4.9          3.0           1.4     0.251111     Setosa
2             4.7          3.2           1.3     0.251111     Setosa
3             4.6          3.1           1.5     0.251111     Setosa
4             5.0          3.6           1.4     0.251111     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2     2.300000  Virginica
146           6.3          2.5           5.0     1.900000  Virginica
147           6.5          3.0           5.2     2.000000  Virginica
148           6.2          3.4           5.4     2.300000  Virginica
149           5.9          3.0           5.1     1.800000  Virginica

[149 rows x 5 columns]

In [12]:
iris_nc = iris_nn
#creating a dictionary that maps each column to a variety
setosa_map = {"Setosa":"Setosa", "Virinica":"Not Setosa", "Versicolor":"Not Setosa"}
# will link the variety to the setosa map created
iris_nc["IsSetosa"] = iris_nc['variety'].map(setosa_map)
print(iris_nc)

     sepal.length  sepal.width  petal.length  petal.width    variety IsSetosa
0             5.1          3.5           1.4     0.251111     Setosa   Setosa
1             4.9          3.0           1.4     0.251111     Setosa   Setosa
2             4.7          3.2           1.3     0.251111     Setosa   Setosa
3             4.6          3.1           1.5     0.251111     Setosa   Setosa
4             5.0          3.6           1.4     0.251111     Setosa   Setosa
..            ...          ...           ...          ...        ...      ...
145           6.7          3.0           5.2     2.300000  Virginica      NaN
146           6.3          2.5           5.0     1.900000  Virginica      NaN
147           6.5          3.0           5.2     2.000000  Virginica      NaN
148           6.2          3.4           5.4     2.300000  Virginica      NaN
149           5.9          3.0           5.1     1.800000  Virginica      NaN

[149 rows x 6 columns]

In [13]:
irispivot = pd.pivot_table(iris_nc, columns="variety", values="sepal.width", aggfunc="max")
print(irispivot)

variety      Setosa  Versicolor  Virginica
sepal.width     4.4         3.4        3.8